.root
  absolute top bottom right
  border-width 1px 0
  border-style solid
  border-color $ui-borderColor

.empty
  height 320px
  display flex
  align-items center

.empty-message
  width 100%
  font-size 42px
  line-height 72px
  text-align center
  color $ui-inactive-text-color

body[data-theme="dark"]
  .root
    border-color $ui-dark-borderColor
    background-color $ui-dark-backgroundColor
  .empty-message
    color $ui-dark-inactive-text-color
