.root
  absolute top bottom right
  border-width 1px 0
  border-style solid
  border-color $ui-borderColor

.empty
  height 320px
  display flex
  align-items center

.empty-message
  width 100%
  font-size 42px
  line-height 72px
  text-align center
  color $ui-inactive-text-color
