.control-infoButton
  float right
  topBarButtonLight()

.control-infoPanel
  position fixed
  pointer-events none
  top 50px
  z-index 200
  padding 5px
  line-height normal
  border-radius 2px
  opacity 0
  transition 0.1s

body[data-theme="dark"]
  .control-infoButton
    topBarButtonDark()
