.control-infoPanel
  position fixed
  pointer-events none
  top 50px
  z-index 200
  line-height normal
  border-radius 4px
  opacity 0
  transition 0.2s

.control-infoButton-panel
  z-index 200
  margin-top 45px
  margin-left -210px
  position absolute
  padding 20px
  width 340px
  background-color $ui-noteList-backgroundColor
  border 1px solid $border-color

.group-section
  display flex
  line-height 30px
  font-size 13px

.group-section-label
  width 70px
  height 20px
  text-align left
  margin-right 50px
  font-size 13px
  color $ui-inactive-text-color

.group-section-control
  flex 1
  font-size 13px
  color $ui-text-color

.group-section-control input
  width 160px
  height 25px

.group-export
  height 25px

body[data-theme="dark"]
  .control-infoButton-panel
    background-color $ui-dark-noteList-backgroundColor
    border 1px solid $ui-dark-borderColor

  .group-section-label
    color $ui-inactive-text-color

  .group-section-control
    color $ui-dark-text-color

  .group-section-control input
    background-color alpha($ui-dark-borderColor, 80%)
    color $ui-dark-text-color
