@import('NoteDetailInfo')
@import('DetailVars')

.root
  absolute top right bottom
  border-left 1px solid alpha(#DEDEDE, 60%)
  background-color $ui-noteDetail-backgroundColor
  box-shadow none

.lock-button
  padding-bottom 3px

.control-lockButton
  top 160px
  topBarButtonLight()

.control-lockButton-tooltip
  tooltip()
  position fixed
  pointer-events none
  top 50px
  z-index 200
  padding 5px
  line-height normal
  border-radius 2px
  opacity 0
  transition 0.1s

.trashed-infopanel
  top 40px
  position relative

.control-fullScreenButton
  top 80px
  topBarButtonLight()

.body
  absolute left right
  left $note-detail-left-margin
  right $note-detail-right-margin
  top $info-height + $info-margin-under-border
  bottom $statusBar-height

.body-noteEditor
  absolute top bottom left right

body[data-theme="white"]
  .root
    box-shadow $note-detail-box-shadow
    border none

body[data-theme="dark"]
  .root
    background-color $ui-dark-noteDetail-backgroundColor
    box-shadow none
    border none

  .control-lockButton
    topBarButtonDark()

  .control-lockButton-tooltip
    darkTooltip()

  .control-fullScreenButton
    topBarButtonDark()
