@import('NoteDetailInfo')
@import('DetailVars')

.root
  absolute top right bottom
  border-left 1px solid alpha(#DEDEDE, 60%)
  background-color $ui-noteDetail-backgroundColor
  box-shadow none
  padding 20px 40px

.lock-button
  padding-bottom 3px

.control-lockButton
  top 150px
  topBarButtonRight()

.trashed-infopanel
  top 40px
  position relative

.control-fullScreenButton
  top 80px
  topBarButtonRight()

.body
  absolute left right
  left 0
  right 0
  top $info-height + $info-margin-under-border
  bottom $statusBar-height
  margin 0 45px
.body-noteEditor
  absolute top bottom left right

body[data-theme="white"]
  .root
    box-shadow $note-detail-box-shadow
    border none

body[data-theme="dark"]
  .root
    background-color $ui-dark-noteDetail-backgroundColor
    box-shadow none
    border-left 1px solid $ui-dark-borderColor

  .control-lockButton
    topBarButtonDark()

  .control-lockButton-tooltip
    darkTooltip()

  .control-fullScreenButton
    topBarButtonDark()
