$info-height = 80px

.root
  absolute top bottom right
  border-width 1px 0
  border-style solid
  border-color $ui-borderColor

.info
  absolute top left right
  height $info-height
  border-bottom $ui-border
  background-color $ui-backgroundColor

.info-left
  float left

.info-left-top
  height 40px

.info-left-bottom
  height 40px

.info-left-bottom-tagSelect
  height 40px

.info-right
  float right

.info-right-button
  width 34px
  height 34px
  border-radius 17px
  navButtonColor()
  border $ui-border
  font-size 14px
  margin 8px 2px
  padding 0
  &:active
    border-color $ui-button--focus-borderColor
  &:hover .left-control-newPostButton-tooltip
    display block
  &:focus
    border-color $ui-button--focus-borderColor

.body
  absolute bottom left right
  top $info-height

.body-noteEditor
  absolute top bottom left right
