@import('NoteDetailInfo')
@import('DetailVars')

.root
  absolute top bottom right
  border-width 0 0 1px
  border-style solid
  border-color $ui-borderColor
  background-color $ui-noteDetail-backgroundColor
  box-shadow $note-detail-box-shadow

.body
  absolute left right
  left $note-detail-left-margin
  right $note-detail-right-margin
  top $info-height + $info-margin-under-border
  bottom $statusBar-height
  background-color $ui-noteDetail-backgroundColor

.body .description
  absolute top left right
  height 80px

.body .description textarea
  outline none
  display block
  height 100%
  width 100%
  resize none
  border none
  padding 10px
  line-height 1.6
  background-color $ui-noteDetail-backgroundColor

.tabList
  absolute left right
  top 80px
  height 30px
  display flex
  background-color $ui-noteDetail-backgroundColor

.tabList .list
  flex 1
  display flex
  overflow hidden

.tabList .plusButton
  navButtonColor()
  width 30px

.tabView
  absolute left right bottom
  top 130px

.tabView-content
  absolute top left right bottom

.override
  absolute bottom left
  left 60px
  height 23px
  z-index 1
  button
    navButtonColor()
    height 24px
    border-width 0 1px 0 0
    border-style solid
    border-color $ui-borderColor
    &:active .update-icon
      color white

.control-trashButton
  float right
  topBarButtonLight()

body[data-theme="dark"]
  .root
    border-color $ui-dark-borderColor
    background-color $ui-dark-noteDetail-backgroundColor
    box-shadow none

  .body
    background-color $ui-dark-noteDetail-backgroundColor

  .body .description textarea
    background-color $ui-dark-noteDetail-backgroundColor
    color $ui-dark-text-color

  .tabList
    background-color $ui-button--active-backgroundColor
    background-color $ui-dark-noteDetail-backgroundColor

  .tabList .list
    border-color $ui-dark-borderColor

  .tabList .plusButton
    navDarkButtonColor()
  .override
    button
      border-color $ui-dark-borderColor

  .control-trashButton
    topBarButtonDark()
