@import('NoteDetailInfo')

.root
  absolute top bottom right
  border-width 0 0 1px
  border-style solid
  border-color $ui-borderColor

.body
  absolute left right
  top $info-height
  bottom $statusBar-height

.body .description
  absolute top left right
  height 80px
  border-bottom $ui-border

.body .description textarea
  display block
  height 100%
  width 100%
  resize none
  border none
  padding 10px
  line-height 1.6

.tabList
  absolute left right
  top 80px
  height 30px
  border-bottom $ui-border
  display flex
  background-color $ui-backgroundColor

.tabList .list
  flex 1
  display flex
  overflow hidden
  border-right $ui-border

.tabList .plusButton
  navButtonColor()
  width 30px

.tabView
  absolute left right bottom
  top 110px

.tabView-content
  absolute top left right bottom

.override
  absolute bottom left
  height 23px
  z-index 1
  button
    navButtonColor()
    height 24px
    border-width 0 1px 0 0
    border-style solid
    border-color $ui-borderColor
    &:active .update-icon
      color white

body[data-theme="dark"]
  .root
    border-color $ui-dark-borderColor

  .info
    border-bottom-color $ui-dark-borderColor
    background-color $ui-dark-backgroundColor

  .info-delete
    color $ui-dark-text-color

  .info-delete-confirmButton
    colorDarkDangerButton()
    color $ui-dark-text-color

  .info-delete-cancelButton
    colorDarkDefaultButton()
    border-color $ui-dark-borderColor
    color $ui-dark-text-color

  .info-right-button
    navDarkButtonColor()
    border-color $ui-dark-borderColor
    &:active
      border-color $ui-dark-button--focus-borderColor
    &:focus
      border-color $ui-button--focus-borderColor

  .body .description
    border-bottom-color $ui-dark-borderColor

  .body .description textarea
    background-color $ui-dark-button--hover-backgroundColor
    color white

  .tabList
    background-color $ui-button--active-backgroundColor
    border-bottom-color $ui-dark-borderColor
    background-color $ui-dark-backgroundColor

  .tabList .list
    border-color $ui-dark-borderColor

  .tabList .plusButton
    navDarkButtonColor()
  .override
    button
      border-color $ui-dark-borderColor
