.root
  position relative
  padding 0
  &:hover
    .icon
      transform rotate(-72deg)
    .tooltip
      opacity 1

.root--active
  @extend .root
  color $brand-color
  &:hover
    color $brand-color !important
  .icon
    transform rotate(-72deg)
.icon
  transition transform 0.15s

.tooltip
  tooltip()
  position fixed
  top 45px
  right 65px
  padding 5px
  opacity 0
  border-radius 2px
