.root
  top 45px
  topBarButtonLight()
  &:hover
    transition 0.2s
    color alpha($ui-favorite-star-button-color, 0.6)

.root--active
  @extend .root
  transition 0.15s
  color $ui-favorite-star-button-color
  &:hover
    transition 0.2s
    color alpha($ui-favorite-star-button-color, 0.6)

.icon
  transition transform 0.15s

body[data-theme="dark"]
  .root
    topBarButtonDark()
    &:hover
      transition 0.2s
      color alpha($ui-favorite-star-button-color, 0.6)