.control-tocButton-panel
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0

.control-tocButton-panel-wrapper
  z-index 200
  margin-top 0px
  top: 50px
  right 25px
  position absolute
  padding 20px 25px 0 25px
  width 300px
  overflow auto
  background-color $ui-noteList-backgroundColor
  box-shadow 2px 12px 15px 2px rgba(0, 0, 0, 0.1), 2px 1px 50px 2px rgba(0, 0, 0, 0.1)
  border-radius 2px

.tocPanel-title
  font-weight: 700

.tocPanel-list
  margin-bottom: 16px;
  li 
    margin-bottom: 6px
    cursor: pointer
    &:hover 
      opacity: 0.5;
