.control-trashButton
  top 115px
  topBarButtonRight()

.control-trashButton--in-trash
  top 60px
  topBarButtonRight()

.trashButton
  padding 0px

body[data-theme="dark"]
  .control-trashButton
    topBarButtonDark()
