
slideBgColor0 = #2BAC8F
slideBgColor1 = #F68F92
slideBgColor2 = #D6AD56
slideBgColor3 = #26969B
slideBgColor4 = #00B493

.Tutorial.modal
  background-color slideBgColor0
  color white
  width 720px
  height 480px
  margin-top 75px
  border-radius 5px
  overflow hidden

  .priorBtn, .nextBtn
    font-size 72px
    position absolute
    background-color transparent
    color transparentify(white, 50%)
    transition 0.1s
    border none
    line-height 72px
    padding 0
    width 93px
    height 72px
    z-index 2
    top 189px
    &:hover
      color white
    &.hide
      opacity 0
  .priorBtn
    left 15px
  .nextBtn
    right 15px
  .title
    text-align center
    font-size 54px
    margin 40px 0
  .content
    text-align center
    font-size 22px
    line-height 1.8
  .dots
    position absolute
    left 0
    right 0
    bottom 25px
    margin 0 auto
    color gray
    text-align center
    z-index 2
    &>i
      transition 0.3s
      &.active
        color white
  .slide
    absolute top bottom left right
    z-index 1
  .slide0
    background-color slideBgColor0
    .content
      margin-top 100px
  .slide1
    background-color slideBgColor1
    .content
      .markdown
        background-color white
        color textColor
        width 480px
        height 140px
        margin 45px auto 0
        clearfix()
        text-align left
        border-radius 5px
        overflow hidden
        .left
          float left
          width 240px
          height 140px
          box-sizing border-box
          font-size 0.5em
          padding 30px
          border-right 1px solid borderColor
        .right
          width 240px
          height 140px
          float right
          box-sizing border-box
          padding: 28px 0 0 10px
          font-size 0.45em
          marked()
          ul
            padding-left 20px
  .slide2
    background-color slideBgColor2
    .code
      border-radius 5px
      overflow hidden
      text-align left
      width 480px
      heght 140px
      margin 45px auto 0
      font-size 14px
      .ace_editor
        height 140px
  .slide3
    background-color slideBgColor3
    .content
      &>img
        margin-top 45px
  .slide4
    background-color slideBgColor4
    .content
      &>button
        background-color white
        color brandColor
        font-size 60px
        width 250px
        height 250px
        border-radius 125px
        border none
        transition 0.1s
        &:hover
          transform scale(1.2)


