menuColor = #808080
menuBgColor = #E6E6E6
closeBtnBgColor = #1790C6
iptFocusBorderColor = #369DCD

.Preferences.modal
  padding 0
  border-radius 5px
  overflow hidden
  width 720px
  height 600px
  &>.header
    absolute top left right
    height 50px
    border-bottom 1px solid borderColor
    background-color menuBgColor
    &>.title
      font-size 22px
      font-weight bold
      float left
      padding-left 30px
      line-height 50px
    &>.closeBtn
      float right
      font-size 14px
      background-color closeBtnBgColor
      color white
      padding 0 15px
      height 33px
      margin-top 9px
      margin-right 15px
      border none
      border-radius 5px
  &>.nav
    absolute left bottom
    top 50px
    width 180px
    background-color menuBgColor
    border-right 1px solid borderColor
    &>button
      width 100%
      height 44px
      font-size 18px
      color menuColor
      border none
      background-color transparent
      transition 0.1s
      text-align left
      padding-left 15px
      &:hover
        background-color darken(menuBgColor, 10%)
      &.active, &:active
        background-color brandColor
        color white
  &>.content
    absolute right bottom
    top 50px
    left 180px
    overflow-y auto
    &>.section
      padding 10px 20px
      border-bottom 1px solid borderColor
      overflow-y auto
      &:nth-last-child(1)
        border-bottom none
      &>.sectionTitle
        font-size 18px
        margin 10px 0 5px
        color brandColor
      &>.sectionCheck
        margin-bottom 5px
        height 33px
        label
          width 150px
          padding-left 15px
          line-height 33px
          .sectionCheck-warn
            font-size 12px
            margin-left 10px
            border-left 2px solid brandColor
            padding-left 5px
      &>.sectionInput
        margin-bottom 5px
        clearfix()
        height 33px
        label
          width 150px
          padding-left 15px
          float left
          line-height 33px
        input
          width 250px
          float left
          height 33px
          border-radius 5px
          border 1px solid borderColor
          padding 0 10px
          font-size 14px
          outline none
          &:focus
            border-color iptFocusBorderColor
      &>.sectionSelect
        margin-bottom 5px
        clearfix()
        height 33px
        label
          width 150px
          padding-left 15px
          float left
          line-height 33px
        select
          float left
          width 200px
          height 25px
          margin-top 4px
          border-radius 5px
          border 1px solid borderColor
          padding 0 10px
          font-size 14px
          outline none
          &:focus
            border-color iptFocusBorderColor
      &>.sectionMultiSelect
        margin-bottom 5px
        clearfix()
        height 33px
        label
          width 150px
          padding-left 15px
          float left
          line-height 33px
        .sectionMultiSelect-input
          float left
          select
            width 80px
            height 25px
            margin-top 4px
            border-radius 5px
            border 1px solid borderColor
            padding 0 10px
            font-size 14px
            outline none
            margin-left 5px
            margin-right 15px
            &:focus
              border-color iptFocusBorderColor
      &>.sectionConfirm
        clearfix()
        padding 5px 15px
        button
          float right
          background-color brandColor
          color white
          border none
          border-radius 5px
          height 33px
          padding 0 15px
          font-size 14px
        .alert
          float right
          width 250px
          padding 10px 15px
          margin 0 10px 0
    .alert
      color infoTextColor
      background-color infoBackgroundColor
      font-size 14px
      padding 15px 15px
      width 330px
      border-radius 5px
      margin 10px auto
      &.error
        color errorTextColor
        background-color errorBackgroundColor
    &.ContactTab
      padding 10px
      .title
        font-size 18px
        color brandColor
        margin-top 10px
        margin-bottom 10px
      p
        line-height 2
    &.AppSettingTab
      .description
        marked()
