.cm-table-row-even { background-color: rgb(242, 242, 242); }
.cm-s-3024-day.CodeMirror .cm-table-row-even { background-color: rgb(235, 235, 235); }
.cm-s-3024-night.CodeMirror .cm-table-row-even { background-color: rgb(12, 4, 0); }
.cm-s-abcdef.CodeMirror .cm-table-row-even { background-color: rgb(20, 20, 20); }
.cm-s-base16-dark.CodeMirror .cm-table-row-even { background-color: rgb(28, 28, 28); }
.cm-s-base16-light.CodeMirror .cm-table-row-even { background-color: rgb(233, 233, 233); }
.cm-s-bespin.CodeMirror .cm-table-row-even { background-color: rgb(54, 45, 38); }
.cm-s-blackboard.CodeMirror .cm-table-row-even { background-color: rgb(16, 22, 45); }
.cm-s-cobalt.CodeMirror .cm-table-row-even { background-color: rgb(0, 46, 86); }
.cm-s-colorforth.CodeMirror .cm-table-row-even { background-color: rgb(0, 0, 0); }
.cm-s-darcula.CodeMirror .cm-table-row-even { background-color: rgb(58, 58, 58); }
.cm-s-dracula.CodeMirror .cm-table-row-even { background-color: rgb(54, 57, 73); }
.cm-s-duotone-dark.CodeMirror .cm-table-row-even { background-color: rgb(57, 53, 70); }
.cm-s-duotone-light.CodeMirror .cm-table-row-even { background-color: rgb(242, 236, 229); }
.cm-s-erlang-dark.CodeMirror .cm-table-row-even { background-color: rgb(0, 46, 86); }
.cm-s-gruvbox-dark.CodeMirror .cm-table-row-even { background-color: rgb(54, 54, 54); }
.cm-s-hopscotch.CodeMirror .cm-table-row-even { background-color: rgb(68, 55, 66); }
.cm-s-isotope.CodeMirror .cm-table-row-even { background-color: rgb(0, 0, 0); }
.cm-s-lesser-dark.CodeMirror .cm-table-row-even { background-color: rgb(51, 51, 51); }
.cm-s-liquibyte.CodeMirror .cm-table-row-even { background-color: rgb(0, 0, 0); }
.cm-s-lucario.CodeMirror .cm-table-row-even { background-color: rgb(58, 84, 108); }
.cm-s-material.CodeMirror .cm-table-row-even { background-color: rgb(51, 68, 76); }
.cm-s-mbo.CodeMirror .cm-table-row-even { background-color: rgb(59, 59, 59); }
.cm-s-midnight.CodeMirror .cm-table-row-even { background-color: rgb(20, 34, 57); }
.cm-s-monokai.CodeMirror .cm-table-row-even { background-color: rgb(53, 54, 46); }
.cm-s-neo.CodeMirror .cm-table-row-even { background-color: rgb(242, 242, 242); }
.cm-s-night.CodeMirror .cm-table-row-even { background-color: rgb(14, 0, 42); }
.cm-s-oceanic-next.CodeMirror .cm-table-row-even { background-color: rgb(65, 88, 97); }
.cm-s-paraiso-dark.CodeMirror .cm-table-row-even { background-color: rgb(63, 41, 62); }
.cm-s-paraiso-light.CodeMirror .cm-table-row-even { background-color: rgb(222, 224, 205); }
.cm-s-pastel-on-dark.CodeMirror .cm-table-row-even { background-color: rgb(59, 54, 53); }
.cm-s-railscasts.CodeMirror .cm-table-row-even { background-color: rgb(58, 58, 58); }
.cm-s-rubyblue.CodeMirror .cm-table-row-even { background-color: rgb(23, 49, 72); }
.cm-s-seti.CodeMirror .cm-table-row-even { background-color: rgb(28, 31, 32); }
.cm-s-shadowfox.CodeMirror .cm-table-row-even { background-color: rgb(57, 57, 62); }
.cm-s-the-matrix.CodeMirror .cm-table-row-even { background-color: rgb(0, 0, 0); }
.cm-s-tomorrow-night-bright.CodeMirror .cm-table-row-even { background-color: rgb(0, 0, 0); }
.cm-s-tomorrow-night-eighties.CodeMirror .cm-table-row-even { background-color: rgb(0, 0, 0); }
.cm-s-twilight.CodeMirror .cm-table-row-even { background-color: rgb(27, 27, 27); }
.cm-s-vibrant-ink.CodeMirror .cm-table-row-even { background-color: rgb(0, 0, 0); }
.cm-s-xq-dark.CodeMirror .cm-table-row-even { background-color: rgb(14, 0, 42); }
.cm-s-yeti.CodeMirror .cm-table-row-even { background-color: rgb(225, 222, 219); }