.navToggle
  navButtonColor()
  display block
  position absolute
  left 5px
  bottom 5px
  border-radius 16.5px
  height 34px
  width 34px
  line-height 100%
  padding 0
  &:hover
    border: 1px solid #1EC38B;
    background-color: alpha(#1EC38B, 30%)
    border-radius: 50%;

body[data-theme="white"]
  navWhiteButtonColor()

apply-theme(theme)
  body[data-theme={theme}]
    .navToggle:hover
      background-color alpha(get-theme-var(theme, 'button--active-backgroundColor'), 20%)
      border 1px solid get-theme-var(theme, 'button--active-backgroundColor')
      transition 0.15s
      color get-theme-var(theme, 'text-color')

for theme in 'dark' 'dracula' 'solarized-dark'
  apply-theme(theme)

for theme in $themes
  apply-theme(theme)