.notification-area
  z-index 1000
  font-size 12px
  position absolute
  bottom 0px
  background-color #1E2124
  width 100vw
  height 30px
  text-align center

.notification-link
  text-decoration none
  color #fff
  border 1px solid #5CB85C
  background-color alpha(#5CB85C, 0.3)
  padding 3px 9px
  border-radius 2px
  position absolute
  bottom 4px
  margin-left -10%