.menu
  margin-bottom 30px

.menu-button
  navButtonColor()
  height 32px
  padding 0 15px
  font-size 13px
  width 100%
  text-align left
  overflow ellipsis

.menu-button--active
  @extend .menu-button
  color #e74c3c
  background-color $ui-button--active-backgroundColor
  .menu-button-label
    color $ui-text-color
  &:hover
    background-color alpha($ui-button--active-backgroundColor, 50%)
    color #e74c3c
    .menu-button-label
      color $ui-text-color
  &:active, &:active:hover
    background-color alpha($ui-button--active-backgroundColor, 50%)
    color #e74c3c
    .menu-button-label
      color $ui-text-color

.menu-button-star--active
  @extend .menu-button
  color #F9BF3B
  background-color $ui-button--active-backgroundColor
  .menu-button-label
    color $ui-text-color
  &:hover
    background-color alpha($ui-button--active-backgroundColor, 50%)
    color #F9BF3B
    .menu-button-label
      color $ui-text-color
  &:active, &:active:hover
    background-color alpha($ui-button--active-backgroundColor, 50%)
    color #F9BF3B
    .menu-button-label
      color $ui-text-color

.menu-button-label
  margin-left 5px

.menu--folded
  @extend .menu
  .menu-button, .menu-button--active
    text-align center
    &:hover .menu-button-label
      transition opacity 0.15s
      opacity 1
  .menu-button-label
    position fixed
    display inline-block
    height 32px
    left 44px
    padding 0 10px
    margin-top -8px
    margin-left 0
    overflow ellipsis
    background-color $ui-tooltip-backgroundColor
    z-index 10
    color white
    line-height 32px
    border-top-right-radius 2px
    border-bottom-right-radius 2px
    pointer-events none
    opacity 0
    font-size 13px

body[data-theme="dark"]
  .menu-button
    &:active
      background-color $ui-dark-button--active-backgroundColor
      color $ui-dark-text-color
    &:hover
      background-color alpha($ui-dark-button--active-backgroundColor, 20%)
      color $ui-dark-text-color

  .menu-button--active
    color #c0392b
    background-color $ui-dark-button--active-backgroundColor
    .menu-button-label
      color $ui-dark-text-color
    &:hover
      background-color alpha($ui-dark-button--active-backgroundColor, 50%)
      color #c0392b
      .menu-button-label
        color $ui-dark-text-color

  .menu-button-star--active
    color $ui-favorite-star-button-color
    background-color $ui-dark-button--active-backgroundColor
    .menu-button-label
      color $ui-dark-text-color
    &:hover
      background-color alpha($ui-dark-button--active-backgroundColor, 50%)
      color $ui-favorite-star-button-color
      .menu-button-label
        color $ui-dark-text-color
