@import('../Detail/DetailVars')

.root
  absolute bottom left right
  height $statusBar-height
  bottom 16px
  z-index 100
  background-color $ui-noteDetail-backgroundColor
  display flex

.blank
  flex 1

.help
  navButtonColor()
  height 24px
  width 24px
  border-width 0 0 0 1px
  border-style solid
  border-color $ui-borderColor
  &:active .update-icon
    color white

.zoom
  navButtonColor()
  height 24px

.update
  navButtonColor()
  height 24px
  border-width 0 0 0 1px
  border-style solid
  border-color $ui-borderColor
  &:active .update-icon
    color white

.update-icon
  color $brand-color

body[data-theme="dark"]
  .root
    background-color $ui-dark-noteDetail-backgroundColor
    border-color $ui-dark-borderColor
    box-shadow none

  .zoom
    border-color $ui-dark-borderColor
    &:hover
      background-color alpha($ui-dark-button--active-backgroundColor, 20%)
      transition 0.15s
      color $ui-dark-text-color

  .help
    navButtonColor()
    border-color $ui-dark-borderColor
    border-left 1px solid $ui-dark-borderColor

  .update
    navDarkButtonColor()
    border-color $ui-dark-borderColor
    border-left 1px solid $ui-dark-borderColor
