.root
  absolute bottom left right
  height $statusBar-height - 1
  background-color $ui-backgroundColor

.pathname
  absolute left
  height 24px
  overflow ellipsis
  right 185px
  line-height 24px
  font-size 12px
  padding 0 15px
  color $ui-inactive-text-color

.zoom
  navButtonColor()
  absolute right
  height 24px
  width 60px
  border-width 0 1px
  border-style solid
  border-color $ui-borderColor

.update
  navButtonColor()
  position absolute
  right 60px
  height 24px
  border-width 0 0 0 1px
  border-style solid
  border-color $ui-borderColor
  &:active .update-icon
    color white

.update-icon
  color $brand-color

body[data-theme="dark"]
  .root
    background-color $ui-dark-backgroundColor

  .pathname
    color $ui-dark-inactive-text-color

  .zoom
    border-color $ui-dark-borderColor

  .update
    navDarkButtonColor()
    border-color $ui-dark-borderColor
    border-left 1px solid $ui-dark-borderColor
