.ModalBase
  fixed top left right bottom
  z-index 1000
  overflow-y auto
  overflow-x auto
  background-color modalBaseColor
  &.hide
    display none
  .modal
    width 500px
    margin 25px auto 0
    absolute top left right
    background-color white
    border-radius 10px
    padding 15px
    box-shadow popupShadow
    .modal-footer
      clearfix()
      border-top solid 1px borderColor
      padding-top 15px
      .modal-control
        float right

  .launch-modal
    .modal-tab
      text-align center
      .btn-primary, .btn-default
        margin 0
        border-radius 0
        border-width 1px
        &:nth-child(1)
          border-top-left-radius 10px
          border-bottom-left-radius 10px
          border-right solid 1px borderColor
        &:nth-child(2)
          border-left none
          border-top-right-radius 10px
          border-bottom-right-radius 10px
    textarea.snippetDescription
      height 75px
    .Select
      .Select-control
        border-color borderColor
      &.is-focused
        .Select-control
          border-color brandBorderColor
      .Select-menu-outer
        border-color borderColor
    .ace_editor
      height 250px
      border-radius 5px
      border solid 1px borderColor
