$search-height = 50px
$nav-width = 175px
$list-width = 250px

.root
  absolute top left right bottom

.search
  height $search-height
  padding 10px
  box-sizing border-box
  border-bottom $ui-border
  text-align center

.search-input
  height 30px
  width 100%
  margin 0 auto
  font-size 18px
  border none
  outline none
  text-align center
  background-color transparent

.result
  absolute left right bottom
  top $search-height
  background-color $ui-noteDetail-backgroundColor

.result-nav
  user-select none
  absolute left top bottom
  width $nav-width
  background-color $ui-backgroundColor

.result-nav-filter
  margin-bottom 10px

.result-nav-filter-option
  height 25px
  line-height 25px
  padding 0 10px
  label
    cursor pointer

.result-nav-menu
  navButtonColor()
  height 32px
  padding 0 10px
  font-size 14px
  width 100%
  outline none
  text-align left
  line-height 32px
  box-sizing border-box
  cursor pointer

.result-nav-menu--active
  @extend .result-nav-menu
  background-color $ui-button--active-backgroundColor
  color $ui-button--active-color
  &:hover
    background-color $ui-button--active-backgroundColor

.result-nav-storageList
  absolute bottom left right
  top 110px + 32px + 10px + 10px + 20px
  overflow-y auto

.result-list
  user-select none
  absolute top bottom
  left $nav-width
  width $list-width
  box-sizing border-box
  overflow-y auto
  box-shadow 2px 0 15px -8px #b1b1b1
  z-index 1

.result-detail
  absolute top bottom right
  left $nav-width + $list-width
  background-color $ui-noteDetail-backgroundColor

body[data-theme="dark"]
  .root
    background-color $ui-dark-backgroundColor
  .search
    border-color $ui-dark-borderColor
  .search-input
    color $ui-dark-text-color

  .result
    background-color $ui-dark-noteList-backgroundColor

  .result-nav
    background-color $ui-dark-backgroundColor
    label
      color $ui-dark-text-color

  .result-nav-menu
    navDarkButtonColor()

  .result-nav-menu--active
    background-color $ui-dark-button--active-backgroundColor
    color $ui-dark-button--active-color
    &:hover
      background-color $ui-dark-button--active-backgroundColor

  .result-list
    border-color $ui-dark-borderColor
    box-shadow none
    top 0

  .result-detail
    absolute top bottom right
    left $nav-width + $list-width
    background-color $ui-dark-noteDetail-backgroundColor



body[data-theme="solarized-dark"]
  .root
    background-color $ui-solarized-dark-backgroundColor
  .search
    border-color $ui-solarized-dark-borderColor
  .search-input
    color $ui-dark-text-color

  .result
    background-color $ui-solarized-dark-backgroundColor

  .result-nav
    background-color $ui-solarized-dark-backgroundColor
    label
      color $ui-dark-text-color

  .result-nav-menu
    navDarkButtonColor()

  .result-nav-menu--active
    background-color $ui-solarized-dark-button-backgroundColor
    color $ui-dark-button--active-color
    &:hover
      background-color $ui-dark-button--active-backgroundColor

  .result-list
    border-color $ui-solarized-dark-borderColor
    box-shadow none
    top 0

  .result-detail
    absolute top bottom right
    left $nav-width + $list-width
    background-color $ui-solarized-dark-backgroundColor

