@import('../main/Detail/DetailVars.styl')

.root
  absolute top bottom left right
  bottom 30px
  margin 0 25px
  height 100%
  width 365px
  background-color $ui-noteDetail-backgroundColor

.description
  absolute top left right
  height 80px
  box-sizing border-box

.description-textarea
  display block
  height 100%
  width 100%
  resize none
  border none
  padding 10px
  line-height 1.6
  box-sizing border-box
  background-color $ui-noteDetail-backgroundColor

.tabList
  absolute left right
  top 80px
  box-sizing border-box
  height 30px
  display flex
  background-color $ui-noteDetail-backgroundColor

.tabList-item
  position relative
  flex 1
  overflow hidden
  &:hover
    background-color $ui-button--hover-backgroundColorg

.tabList-item--active
  @extend .tabList-item
  border-bottom $ui-border

.tabList-item-button
  width 100%
  height 29px
  overflow ellipsis
  text-align left
  padding-right 30px
  padding-left 10px
  border none
  background-color transparent
  transition 0.15s
  &:hover
    background-color $ui-button--hover-backgroundColor

.tabView
  absolute left right bottom
  top 130px

.tabView-content
  absolute top left right bottom
  box-sizing border-box
  height 100%
  width 100%

body[data-theme="dark"]
  .root
    background-color $ui-dark-noteDetail-backgroundColor

  .description
    border-color $ui-dark-borderColor
    background-color $ui-dark-noteDetail-backgroundColor

  .description-textarea
    background-color $ui-dark-noteDetail-backgroundColor
    color white

  .tabList
    background-color $ui-dark-noteDetail-backgroundColor

  .tabList-item
    border-color $ui-dark-borderColor
    &:hover
      background-color $ui-dark-button--hover-backgroundColor

  .tabList-item-button
    border none
    color $ui-dark-text-color
    background-color transparent
    transition color background-color 0.15s
    border-left 4px solid transparent
    &:hover
      color white
      background-color $ui-dark-button--hover-backgroundColor
