<div class="snippets-list-state">

  <div class="left-pane">
    <ul class="snippet-list">

      <li ng-if="!vm.isLoaded" class="message-item">
        <h4>
          Loading
        </h4>
      </li>

      <li ng-if="vm.isLoaded && vm.snippets==0 && !vm.isGuest" class="message-item">
        <h4>
          Empty List
        </h4>
        <button btn-new-snippet class="btn btn-default"><i class="fa fa-plus-square-o"></i> New Snippet</button>
      </li>

      <li ng-if="vm.isLoaded && vm.isGuest" class="message-item">
        <h4>
          Sign In to access
        </h4>
        <a ui-sref="auth.signin" class="btn btn-default"><i class="fa fa-signin"></i> Sign In</a>
      </li>

      <li ng-repeat="snippet in vm.snippets" ui-sref="snippets.detail({id:snippet._id})">
        <div class="media">
          <div class="media-left">
            <img width="25" height="25" src="http://www.gravatar.com/avatar/ea0b6ad1c11700120d1af08810caa19d" alt="" />
          </div>
          <div class="media-body">
            <h4 ng-bind="snippet.description"></h4>
            <p class="created-at">created at <span ng-bind="snippet.createdAt"></span></p>
          </div>
        </div>
        <div tags="snippet.tags"></div>
      </li>
    </ul>
  </div>

  <div class="right-pane">
    <div ng-if="'snippets'|isState">
      No snippet selected.
    </div>
    <div ui-view></div>
  </div>


</div>
