@import "../../variables";
@import "../../mixins";

$left-pane-width: 275px;


$pane-border-color: $border-color;
$snippet-list-border-color: $border-color;
$snippet-list-item-hover-bg: #EEE;

.snippets-list-state{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  .left-pane{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $left-pane-width;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: solid 1px $pane-border-color;
    .snippet-list{
      list-style: none;
      padding: 0;
      li{
        padding: 5px;
        border-bottom: solid 1px $snippet-list-border-color;
        h4{
          margin: 0;
        }
        &:hover{
          background-color: $snippet-list-item-hover-bg;
        }
        p{
          margin:0;
        }
      }
    }
  }
  .right-pane{
    position: absolute;
    top: 0;
    bottom: 0;
    left: $left-pane-width;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.snippets-detail-state{
  .detail-header{
    padding: 5px 10px;
    height: 50px;
    border-bottom: solid 1px $border-color;
    .detail-header-title{
      small{
        font-size: 0.6em;
      }
      line-height: 40px;
      font-size: 1.2em;
    }
    .detail-header-control{
      padding:3px;
    }
  }
  .detail-body{
    padding: 5px 10px;
    .ace_editor {
      min-height: 300px;
      border: solid 1px $border-color;
      border-radius: 5px;
    }
  }
}
.tags{
  word-break: break-all;
  a{
    margin: 0 2px;
  }
}
