alert()
  line-height 44px
  border-radius 5px

alertSuccess()
  alert()
  background-color successBackgroundColor
  color successTextColor

alertError()
  alert()
  background-color errorBackgroundColor
  color errorTextColor

alertInfo()
  alert()
  background-color infoBackgroundColor
  color infoTextColor
