stripInput()
  border none
  border-bottom 1px solid borderColor
  padding 5px 15px
  box-sizing border-box
  transition 0.1s
  &:focus, &.focus
    border-bottom 1px solid brandBorderColor
    outline none
