marked()
  h1, h2, h3, h4, h5, h6, p
    &:first-child
      margin-top 0
  hr
    border-top none
    border-bottom solid 1px borderColor
    margin 15px 0
  h1
    font-size 2em
    border-bottom solid 2px borderColor
    margin 0.33em auto 0.67em
  h2
    font-size 1.5em
    margin 0.42em auto 0.83em
  h3
    font-size 1.17em
    margin 0.5em auto 1em
  h4
    font-size 1em
    margin 0.67em auto 1.33em
  h5
    font-size 0.83em
    margin 0.84em auto 1.67em
  h6
    font-size 0.67em
    margin 1.16em auto 2.33em
  h1, h2, h3, h4, h5, h6
    font-weight 700
    line-height 1.8em
  p
    line-height 1.8em
    margin 15px 0 25px
  img
    max-width 100%
  strong
    font-weight bold
  em
    font-style italic
  s
    text-decoration line-through
  blockquote
    border-left solid 4px brandBorderColor
    margin 15px 0 25px
    padding 0 25px
  ul
    list-style-type disc
    padding-left 35px
    margin-bottom 35px
    li
      display list-item
      line-height 1.8em
    &>li>ul
      list-style-type circle
      &>li>ul
        list-style-type square
  ol
    list-style-type decimal
    padding-left 35px
    margin-bottom 35px
    li
      display list-item
      line-height 1.8em
  code
    font-family monospace
    padding 2px 4px
    border solid 1px borderColor
    border-radius 4px
    font-size 0.9em
    color black
    text-decoration none
    background-color #F6F6F6
  pre
    padding 5px
    border solid 1px borderColor
    border-radius 5px
    overflow-x auto
    margin 15px 0 25px
    background-color #F6F6F6
    &>code
      padding 0
      border none
      border-radius 0
      color black
  table
    width 100%
    margin 15px 0 25px
    thead
      tr
        background-color tableHeadBgColor
      th
        border-style solid
        padding 15px 5px
        border-width 1px 0 2px 1px
        border-color borderColor
        &:last-child
          border-right solid 1px borderColor
    tbody
      tr:nth-child(2n + 1)
        background-color tableOddBgColor
      tr:nth-child(2n)
        background-color tableEvenBgColor
      td
        border-style solid
        padding 15px 5px
        border-width 0 0 1px 1px
        border-color borderColor
        &:last-child
          border-right solid 1px borderColor
