@import '../../shared/styles/_vars'
@import '../../shared/styles/mixins/*'

@import 'modals/*'
@import 'directives/*'
@import 'states/*'

#side-view
  position:absolute
  top: 0
  bottom: 0
  left: 0
  width: 200px
  background-color: $baseBackgroundColor
  border-right solid 2px $backgroundColorSelected
  box-sizing: border-box
  padding: 10px 0 10px 10px

#main-view
  position:absolute
  top: 0
  bottom: 0
  left: 200px
  right: 0
  overflow-x: hidden
  overflow-y: auto
  background-color $bgDarker

.marked
  h1, h2, h3, h4, h5
    margin 0.75em 0
    &:nth-child(1)
      margin-top 0
  code
    background-color lighten($baseBackgroundColor, 3%)
    color $textColorSelected
    border 1px solid $baseBorderColor
    border-radius 5px
    box-shadow 0 1px 1px rgba(0, 0, 0, .05)
    padding 5px
    line-height 200%
  pre
    margin-bottom 10px
    background-color lighten($baseBackgroundColor, 3%)
    color $textColorSelected
    border 1px solid $baseBorderColor
    border-radius 5px
    box-shadow 0 1px 1px rgba(0, 0, 0, .05)
    padding 5px
    >code
      background-color transparent
      color inherit
      border none
      border-radius 0
      box-shadow none
      padding 0
      line-height inherit
  blockquote
    font-size 1em
    border-left 5px solid $textColorInfo
  a
    text-decoration underline
    color $textColorInfo
  table
    width 100%
    max-width 100%
    margin-bottom $line-height-computed
    border 1px solid $table-border-color
    margin-bottom 10px

    // Cells
    > thead,
    > tbody,
    > tfoot
      > tr
        > th,
        > td
          padding 10px
          line-height $line-height-base
          vertical-align top
          border-top 1px solid $table-border-color
          border-right 1px solid $table-border-color
          &:nth-last-child(1)
            border-right none
    > thead > tr > th
      vertical-align bottom
      border-bottom 2px solid $table-border-color
    > caption + thead,
    > colgroup + thead,
    > thead:first-child
      background-color $backgroundColorSelected
      > tr:first-child
        > th,
        > td
          border-top 0
    > tbody
      >tr
        &:nth-child(odd)
          background-color $baseBackgroundColor
        &:nth-child(even)
          background-color lighten($baseBackgroundColor, 3%)

.short
  height 500px
  overflow-y auto
