@import '../../shared/styles/_vars'
@import '../../shared/styles/mixins/*'

@import 'modals/*'
@import 'directives/*'
@import 'states/*'

#side-view
  position:absolute
  top: 0
  bottom: 0
  left: 0
  width: 200px
  background-color: $baseBackgroundColor
  border-right solid 2px $backgroundColorSelected
  box-sizing: border-box
  padding: 10px 0 10px 10px

#main-view
  position:absolute
  top: 0
  bottom: 0
  left: 200px
  right: 0
  overflow-x: hidden
  overflow-y: auto
  background-color $bgDarker
