.expand-recipe-modal .expand-editor .editor-pane {
  height: 500px;
}
.expand-recipe-modal .expand-editor .editor-pane .ace_editor {
  height: 500px;
}
.expand-recipe-modal .expand-editor .preview-pane {
  height: 500px;
  overflow-y: auto;
}
.new-snippet-modal .ace_editor {
  height: 200px;
}
.select-snippet-modal .snippet-list {
  list-style: none;
  padding: 0;
}
.select-snippet-modal .snippet-list li {
  padding: 10px;
  border: solid 1px #001a20;
  background-color: #003b4a;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.select-snippet-modal .snippet-list li:hover {
  background-color: #004b5f;
}
.select-snippet-modal .snippet-list li .ace_editor {
  height: 150px;
}
.select-snippet-modal .snippet-list li .call-sign {
  color: #d5dfe2;
}
#side-view .nav-control-group {
  margin: auto 10px;
}
#side-view .new-block {
  margin: 20px auto;
}
#side-view .new-block button {
  padding: 10px inherit;
}
#side-view .new-block button:nth-child(1) {
  width: 147px;
  padding-left: 15px;
  text-align: left;
}
#side-view .new-block button:nth-child(2) {
  width: 33px;
}
#side-view .new-block .success-menu {
  background-color: #167b59;
}
#side-view .new-block .success-menu a {
  padding: 5px 15px;
  color: #fff;
}
#side-view .new-block .success-menu a.hover,
#side-view .new-block .success-menu a:hover {
  background-color: #22bd89;
}
#side-view .new-block .success-menu a.focus,
#side-view .new-block .success-menu a:focus {
  background-color: #20b482;
}
#side-view ul.nav.nav-pills {
  margin-top: 10px;
}
#side-view ul.nav.nav-pills li a {
  padding: 12px 15px;
  margin-bottom: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-transition: 0.2s;
          transition: 0.2s;
}
#side-view ul.nav.nav-pills li.active > a,
#side-view ul.nav.nav-pills .nav-pills > li.active > a:hover,
#side-view ul.nav.nav-pills .nav-pills > li.active > a:focus {
  background-color: #004b5f;
}
.botlink {
  position: absolute;
  bottom: 0;
  text-align: center;
}
/*
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.11.2 - 2015-03-17T04:08:46.478Z
 * License: MIT
 */
.ui-select-highlight {
  font-weight: bold;
}
.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}
.ng-dirty.ng-invalid > a.select2-choice {
  border-color: #d44950;
}
.select2-result-single {
  padding-left: 0;
}
.select2-locked > .select2-search-choice-close {
  display: none;
}
.select-locked > .ui-select-match-close {
  display: none;
}
body > .select2-container.open {
  z-index: 9999;
}
.selectize-input.selectize-focus {
  border-color: #007fbb !important;
}
.selectize-control > .selectize-input > input {
  width: 100%;
}
.selectize-control > .selectize-dropdown {
  width: 100%;
}
.ng-dirty.ng-invalid > div.selectize-input {
  border-color: #d44950;
}
.btn-default-focus {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.ui-select-bootstrap .ui-select-toggle {
  position: relative;
  border-radius: $input-border-radius;
}
.ui-select-bootstrap .ui-select-toggle .ui-select-placeholder {
  color: #99b2b8;
}
.ui-select-bootstrap .ui-select-toggle > .caret {
  position: absolute;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -2px;
}
.input-group > .ui-select-bootstrap.dropdown {
/* Instead of relative */
  position: static;
}
.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border-radius: $input-border-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-select-bootstrap > .ui-select-match > .btn {
/* Instead of center because of .btn */
  text-align: left !important;
  padding-right: 25px;
  border-radius: $input-border-radius;
  border: solid 1px #001a20;
}
.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15px;
}
.ui-select-bootstrap > .ui-select-choices {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  margin-top: -1px;
}
body > .ui-select-bootstrap.open {
  z-index: 1000;
}
.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 3px 3px 0 10px;
}
.ui-select-multiple.ui-select-bootstrap.open {
  border-color: #52dcff;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,220,255,0.6);
}
.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important;
  border: none;
  outline: none;
  height: 1.666666em;
  margin-bottom: 3px;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.6em;
  line-height: 0.75;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  outline: 0;
  margin: 0 3px 3px 0;
}
.ui-select-multiple .ui-select-match-item {
  position: relative;
}
.ui-select-multiple .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2px;
  border-left: 1px solid #428bca;
}
.ui-select-multiple .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid #428bca;
}
.ui-select-bootstrap .ui-select-choices-row>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #99b2b8;
  white-space: nowrap;
}
.ui-select-bootstrap .ui-select-choices-row>a:hover,
.ui-select-bootstrap .ui-select-choices-row>a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #004b5f;
}
.ui-select-bootstrap .ui-select-choices-row.active>a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #004b5f;
}
.ui-select-bootstrap .ui-select-choices-row.disabled>a,
.ui-select-bootstrap .ui-select-choices-row.active.disabled>a {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
  display: none !important;
}
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
  border-color: #d44950;
}
.auth-state .panel {
  margin-top: 50px;
}
.auth-state h1 {
  margin: 15px 0;
}
.auth-state .auth-control {
  margin: 10px 0;
}
.home-state {
  padding: 10px;
}
.home-state p {
  margin: 5px auto 15px;
}
.home-state ol {
  margin: 35px auto;
}
.home-state li {
  margin-bottom: 25px;
}
.settings-state .panel {
  margin-top: 15px;
}
.settings-state h1 {
  margin: 30px 0;
}
.settings-state .section h4 {
  margin-bottom: 15px;
}
.snippets-list-state {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.snippets-list-state .left-pane {
  border-right: 1px solid #001a20;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 275px;
  overflow: hidden;
}
.snippets-list-state .left-pane .snippet-search {
  position: absolute;
  top: 0;
  height: 50px;
  left: 0;
  right: 0;
  border-right: 1px solid #001a20;
  padding: 7px 5px;
}
.snippets-list-state .left-pane .snippet-list {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  padding: 0;
}
.snippets-list-state .left-pane .snippet-list li {
  cursor: pointer;
  padding: 5px;
  border-right: 1px solid #001a20;
  border-bottom: 1px solid #001a20;
}
.snippets-list-state .left-pane .snippet-list li:nth-child(even) {
  background-color: #002b36;
}
.snippets-list-state .left-pane .snippet-list li:nth-child(odd) {
  background-color: #00323f;
}
.snippets-list-state .left-pane .snippet-list li h4 {
  margin: 0;
}
.snippets-list-state .left-pane .snippet-list li:hover {
  background-color: #004b5f;
}
.snippets-list-state .left-pane .snippet-list li p {
  margin: 0;
}
.snippets-list-state .left-pane .snippet-list li p.call-sign {
  font-size: 0.8em;
}
.snippets-list-state .left-pane .snippet-list li p.created-at {
  font-size: 0.8em;
  opacity: 0.8;
}
.snippets-list-state .left-pane .snippet-list li.active {
  color: #fff;
  background-color: #088cff;
}
.snippets-list-state .left-pane .snippet-list li.active a {
  color: #fff;
}
.snippets-list-state .right-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 275px;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #00323f;
}
.snippets-detail-state {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}
.snippets-detail-state .detail-header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #003d4d;
  padding: 5px 10px;
  height: 50px;
  border-bottom: solid 1px #001a20;
}
.snippets-detail-state .detail-header .detail-header-title {
  color: #d5dfe2;
  line-height: 40px;
  font-size: 1.2em;
}
.snippets-detail-state .detail-header .detail-header-title small {
  font-size: 0.6em;
  color: #99b2b8;
}
.snippets-detail-state .detail-header .detail-header-control {
  padding: 3px;
}
.snippets-detail-state .detail-body {
  position: absolute;
  top: 50px;
  width: 100%;
  bottom: 0;
  padding: 5px 10px;
  overflow-y: auto;
}
.snippets-detail-state .detail-body .ace_editor {
  min-height: 300px;
  border: solid 1px $border-color;
  border-radius: 5px;
  margin-bottom: 5px;
}
.tags {
  word-break: break-all;
}
.tags a {
  margin: 0 2px;
}
#side-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: #002b36;
  border-right: solid 2px #004b5f;
  box-sizing: border-box;
  padding: 10px 0 10px 10px;
}
#main-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 200px;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $bgDarker;
}
.marked h1,
.marked h2,
.marked h3,
.marked h4,
.marked h5 {
  margin: 0.75em 0;
}
.marked h1:nth-child(1),
.marked h2:nth-child(1),
.marked h3:nth-child(1),
.marked h4:nth-child(1),
.marked h5:nth-child(1) {
  margin-top: 0;
}
.marked code {
  background-color: #003644;
  color: #fff;
  border: 1px solid #001a20;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  padding: 5px;
  line-height: 200%;
}
.marked pre {
  margin-bottom: 10px;
  background-color: #003644;
  color: #fff;
  border: 1px solid #001a20;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  padding: 5px;
}
.marked pre >code {
  background-color: transparent;
  color: inherit;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  line-height: inherit;
}
.marked blockquote {
  font-size: 1em;
  border-left: 5px solid #6494ed;
}
.marked a {
  text-decoration: underline;
  color: #6494ed;
}
.marked table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  border: 1px solid #001a20;
  margin-bottom: 10px;
}
.marked table > thead > tr > th,
.marked table > tbody > tr > th,
.marked table > tfoot > tr > th,
.marked table > thead > tr > td,
.marked table > tbody > tr > td,
.marked table > tfoot > tr > td {
  padding: 10px;
  line-height: $line-height-base;
  vertical-align: top;
  border-top: 1px solid #001a20;
  border-right: 1px solid #001a20;
}
.marked table > thead > tr > th:nth-last-child(1),
.marked table > tbody > tr > th:nth-last-child(1),
.marked table > tfoot > tr > th:nth-last-child(1),
.marked table > thead > tr > td:nth-last-child(1),
.marked table > tbody > tr > td:nth-last-child(1),
.marked table > tfoot > tr > td:nth-last-child(1) {
  border-right: none;
}
.marked table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #001a20;
}
.marked table > caption + thead,
.marked table > colgroup + thead,
.marked table > thead:first-child {
  background-color: #004b5f;
}
.marked table > caption + thead > tr:first-child > th,
.marked table > colgroup + thead > tr:first-child > th,
.marked table > thead:first-child > tr:first-child > th,
.marked table > caption + thead > tr:first-child > td,
.marked table > colgroup + thead > tr:first-child > td,
.marked table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.marked table > tbody >tr:nth-child(odd) {
  background-color: #002b36;
}
.marked table > tbody >tr:nth-child(even) {
  background-color: #003644;
}
.short {
  height: 500px;
  overflow-y: auto;
}
