.UserSettingContainer
  absolute top bottom right
  left 50px
  .UserSettingNavigation
    absolute top bottom left
    width 200px
    padding 15px
    box-sizing border-box
    border-right solid 1px borderColor
    .userName
      font-size 2.0em
      margin 10px 0
      color brandColor
    a
      display block
      color textColor
      width 100%
      padding 15px
      margin-bottom 5px
      border-radius 10px
      box-sizing border-box
      cursor pointer
      &:hover, &.hover
        color brandColor
        background-color hoverBackgroundColor
      &:active, &.active
        color brandColor

  .UserSettingMain
    absolute top bottom right
    left 200px
    padding 10px
    box-sizing border-box
