.UserContainer
  .UserNavigator
    background-color planetNavBgColor
    absolute left top bottom
    width 55px
    text-align center
    box-sizing border-box
    border-right solid 1px borderColor
    .userProfile
      display block
      width 55px
      height 55px
      border-bottom solid 1px borderColor
      overflow hidden
      background-color black
      margin 0
      padding 0
      cursor pointer
      box-sizing border-box
      img
        transition 0.1s
        opacity 0.9
      &.vivid.active, &.focus, &:focus, &.hover, &:hover
        img
          opacity 1
    ul.planetList>li
      margin 15px 0
      .shortCut
        margin-top 5px
        color lighten(textColor, 5%)
        font-size 0.8em
      &.active
        a
          background-color planetAnchorActiveBgColor
          color planetAnchorActiveColor
      a
        display block
        width 44px
        height 44px
        margin 0 auto
        text-align center
        background-color planetAnchorBgColor
        text-decoration none
        color planetAnchorColor
        line-height 44px
        font-size 1.1em
        cursor pointer
        circle()
        transition 0.1s
        &:hover, &:active
          background-color white
        .planetTooltip
          position absolute
          z-index 500
          background-color transparentify(invBackgroundColor, 80%)
          color invTextColor
          padding 10px
          line-height 1em
          border-radius 5px
          margin-top -41px
          margin-left 52px
          white-space nowrap
          opacity 0
          transition 0.1s
          pointer-events none
        &:hover .planetTooltip
          opacity 1
      img
        circle()
        width 55px
        height 55px
    button.newPlanet
      display block
      margin 0 auto
      width 30px
      height 30px
      circle()
      border solid 1px lightButtonColor
      color lightButtonColor
      text-align center
      font-size 1
      background-image none
      background-color transparent
      box-sizing border-box
      absolute left bottom right
      bottom 15px
      &:hover, &.hover, &:focus, &.focus
        border-color darken(lightButtonColor, 50%)
        color darken(lightButtonColor, 50%)
      &:active, &.active
        border-color darken(brandBorderColor, 10%)
        background-color brandColor
        color white
  .UserHome
    absolute top bottom right
    left 55px
    box-sizing border-box
    padding 15px
    h1
      margin 15px 0
    .userProfile
      clearfix()
      .userPhoto
        circle()
        float left
        margin 25px
      .userIntro
        float left
        margin-top 25px
        .userProfileName
          font-size 2em
          margin-bottom 15px
        .userName
          font-size 1.5em
    .userPlanetList
      padding-left 20px
      li
        font-size 1.3em
        margin 10px
