<div class="settings-state container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 panel panel-default">
      <h1><i class="fa fa-gears"></i> Settings</h1>
      <p>
        Some settings...
      </p>
      <hr>
      <div class="section">
        <h4>Change Password</h4>
        <form ng-submit="vm.changePassword()">
          <alert type="success" ng-show="vm.isSuccess" close="vm.isSuccess=false">
            Successfully changed!!
          </alert>
          <alert type="danger" ng-show="vm.isError" close="vm.isError=false">
            Request failed!!
          </alert>
          <div class="form-group">
            <label for="password">Current Password</label>
            <input ng-model="vm.password" class="form-control" type="password" name="password"  placeholder="Current Password">
          </div>
          <div class="form-group">
            <label for="newPassword"> New Password</label>
            <input ng-model="vm.newPassword" class="form-control" type="password" name="newPassword" placeholder="New Password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary form-control">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
