<div class="snippets-detail-state">

  <div class="detail-header">
    <span class="detail-header-title">
      <small>callsign</small>
      <span ng-bind="vm.snippet.callSign"></span>
      <small><span ng-bind="vm.snippet.updatedAt|fromNow"></span> <i class="fa fa-clock-o"></i></small>
    </span>
    <span class="detail-header-control pull-right">
      <!-- <button type="button" name="button" class="btn btn-default"><i class="fa fa-share"></i></button> -->
      <button btn-edit-snippet="vm.snippet" type="button" name="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
      <button btn-delete-snippet="vm.snippet" type="button" name="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
    </span>
  </div>

  <div class="detail-body">

    <div ng-if="!vm.isLoaded" class="">
      Loadding
    </div>

    <div ng-if="vm.isLoaded" class="">
      <p ng-bind="vm.snippet.description"></p>

      <div tag-list="vm.snippet.Tags"></div>

      <div ui-ace="{
        showGutter: false,
        useWrapMode : true,
        mode:vm.snippet.mode.toLowerCase(),
        maxLines: -1,
        theme:'solarized_dark',
        rendererOptions: {
            maxLinks: Infinity
        }
      }"
      readonly
      ng-model="vm.snippet.content"></div>
    </div>
  </div>
</div>
