<div class="snippets-list-state">

  <div class="left-pane">
    <div class="snippet-search">
      <input ng-model="vm.search" ng-change="vm.searchSnippets()" type="text" name="name" class="form-control" placeholder="Search ..." autocomplete="off">
    </div>
    <ul class="snippet-list">

      <li ng-if="vm.isLoading" class="message-item">
        <h4>
          Loading
        </h4>
      </li>

      <li ng-if="!vm.isLoading && vm.snippets==0 && !vm.isGuest" class="message-item">
        <h4>
          Empty List
        </h4>
        <button btn-new-snippet class="btn btn-default"><i class="fa fa-plus-square-o"></i> New Snippet</button>
      </li>

      <li ng-if="!vm.isLoading && vm.isGuest" class="message-item">
        <h4>
          Sign In to access
        </h4>
        <a ui-sref="auth.signin" class="btn btn-default"><i class="fa fa-signin"></i> Sign In</a>
      </li>

      <li ng-repeat="snippet in vm.filtered" ui-sref="snippets.detail({id:snippet.id})" ng-class="{active:vm.snippetId===snippet.id}">
        <div class="media">
          <div class="media-left">
            <img width="25" height="25" class="img-circle" src="http://www.gravatar.com/avatar/ea0b6ad1c11700120d1af08810caa19d" alt="" />
          </div>
          <div class="media-body">
            <p ng-bind="snippet.callSign" class="call-sign">
            </p>
            <p ng-bind="snippet.description">
            </p>
            <p class="created-at">
              <span ng-bind="snippet.updatedAt|fromNow"></span>
            </p>
          </div>
        </div>
        <div tag-list="snippet.Tags"></div>
      </li>
    </ul>
  </div>

  <div class="right-pane">
    <div ng-if="'snippets'|isState">
      No snippet selected.
    </div>
    <div ui-view></div>
  </div>


</div>
