.select-snippet-modal
  .snippet-list
    list-style none
    padding 0
    li
      padding 10px
      border solid 1px $baseBorderColor
      background-color $backgroundColorHighlight
      border-radius 5px
      margin-bottom 5px
      cursor pointer
      &:hover
        background-color $backgroundColorSelected
      .ace_editor
        height 150px
      .call-sign
        color $textColorHighlight
