@import '../../node_modules/bootstrap-styl/bootstrap/variables'

$brandColor= #26A7D5

$colorEdge= white
$color= #777

$border= #444
$borderEdge= #26A7D5

$bg= RGBA(38, 58, 71, 1)
$bgDarker= RGBA(25, 41, 52, 1)
