@import('./ConfigTab')

p
  font-size 16px
  line-height 1.4

.cf-link
  height 35px
  border-radius 2px
  border none
  background-color alpha(#1EC38B, 90%)
  padding-left 20px
  padding-right 20px
  &:hover
    background-color #1EC38B
    transition 0.2s
  a
    text-decoration none
    color white
    font-weight 600
    font-size 16px

body[data-theme="dark"]
  p
    color $ui-dark-text-color

apply-theme(theme)
  body[data-theme={theme}]
    .root
      color get-theme-var(theme, 'text-color')
    p
      color get-theme-var(theme, 'text-color')

for theme in 'solarized-dark' 'dracula'
  apply-theme(theme)

for theme in $themes
  apply-theme(theme)