@import('./Tab')

.root
  padding 15px
  white-space pre
  line-height 1.4
  color $ui-text-color
  width 100%

.clear
  clear both

.top
  text-align left
  margin-bottom 20px

.icon-space
  margin 20px 0
  height 100px

.icon
  display inline-block
  vertical-align middle

.icon-right
  display inline-block
  vertical-align middle
  margin-left 20px

.appId
  font-size 24px
  margin-bottom 13px

.description
  font-size 14px

.madeBy
  font-size 14px
  $ui-inactive-text-color

.copyright
  font-size 14px
  $ui-inactive-text-color

.list
  list-style square
  padding-left 2em
  li
    white-space normal

body[data-theme="dark"]
  .root
    color $tab--dark-text-color

  .madeBy
    color $ui-dark-inactive-text-color

  .copyright
    color $ui-dark-inactive-text-color
