.root
  padding 15px
  white-space pre
  line-height 1.4
  color $ui-text-color
.top
  text-align center
  margin-bottom 25px
.appId
  font-size 18px
.madeBy
  font-size 12px
  $ui-inactive-text-color
