.root
  modal()
  max-width 800px
  min-height 500px
  height 80%
  overflow hidden
  position relative

.top-bar
  absolute top left right
  height 50px
  background-color $ui-backgroundColor
  border-bottom solid 1px $ui-borderColor
  p
    text-align center
    font-size 18px
    line-height 50px

.nav
  absolute top left right
  top 50px
  left 0
  width 140px
  margin-left 30px
  margin-top 20px
  background-color $ui-backgroundColor

.nav-button
  font-size 14px
  text-align left
  width 80px
  padding 7px 0
  border none
  background-color transparent
  color #939395
  font-size 14px
  &:hover
    color #515151

.nav-button--active
  @extend .nav-button
  color #6AA5E9
  &:hover
    color #6AA5E9

.nav-button-icon
  display block

.content
  absolute left right bottom
  top 50px
  left 140px
  margin-top 20px
  overflow-y auto

body[data-theme="dark"]
  .root
    modalDark()

  .top-bar
    background-color transparent
    border-color transparent
    color #939395

  .nav
    background-color transparent
    border-color $ui-dark-borderColor

  .nav-button
    background-color transparent
    color #939395
    &:hover
      color $ui-dark-text-color
