/**
 * Common style for tabs on config modal.
 */

$tab--input-border-radius = 5px
$tab--button-border-radius = 5px
$tab--button-height = 40px
$tab--button-font-size = 14px

.header
  font-size 24px
  margin-bottom 30px
