.root
  margin-top 15px
  margin-bottom 15px
  user-select none

.header
  position relative
  height 33px
  cursor pointer
  &:hover
    background-color alpha(white, 0.1)

.header-name
  position absolute
  left 0
  top 0
  bottom 0
  right 72px
  padding-left 10px
  line-height 33px
  color white

.header-control
  position absolute
  top 0
  bottom 0
  right 5px
  width 48px

.header-control-button
  width 24px
  padding 0
  margin-top 4.5px
  height 24px
  border none
  border-radius 5px
  background-color transparent
  color $nav-inactive-color
  &:hover
    color white
    background-color alpha(white, 0.1)
  &:active
    color white
    background-color $brand-color

.folder
  height 33px
  width 100%
  position relative
  cursor pointer
  &:hover
    background-color alpha(white 0.1)

.folder-label
  position absolute
  left 0
  top 0
  bottom 0
  right 48px
  padding-left 20px
  line-height 33px
  color white

.folder-control
  position absolute
  top 0
  bottom 0
  right 5px
  width 24px

.folder-control-button
  width 24px
  height 24px
  margin-top 4.5px
  border none
  border-radius 5px
  background-color transparent
  color $nav-inactive-color
  &:hover
    color white
    background-color alpha(white, 0.1)
  &:active
    color white
    background-color $brand-color

.newFolderForm
  width 100%
  padding 0 15px
  height 33px

.newFolderForm-nameInput
  width 100%
  height 33px
  padding 0 10px
  border-radius 5px
  border solid 1px $nav-border-color
  outline none
  &:focus
    border-color $focus-border-color
  &:disabled
    background-color $disabled-input-background

.newFolderButton
  height 33px
  width 100%
  border none
  padding-left 20px
  text-align left
  background-color transparent
  color $nav-inactive-color
  &:hover
    background-color alpha(white, 0.1)
    color white
  &:active
    background-color $brand-color
    color white
