.root
  absolute top bottom left
  width 200px
  border-right solid 1px $nav-border-color
  background-color $nav-background-color
  user-select none

.top
  height 60px
  border-bottom solid 1px $nav-border-color

.top-menu
  height 60px
  padding 0 10px
  font-size 14px
  width 100%
  text-align left
  border none
  color white
  background-color transparent
  &:hover
    background-color alpha(white, 0.1)
  &:active
    background-color $brand-color

.menu
  margin-top 15px

.menu-button
  height 44px
  padding 0 10px
  font-size 14px
  width 100%
  text-align left
  border none
  color white
  background-color transparent
  &:hover
    background-color alpha(white, 0.1)
  &:active
    background-color $brand-color

.repositoryList
  absolute left right bottom
  top 167px
  overflow-y auto

.repositoryList-empty
  padding 0 10px
  height 44px
  line-height 44px
  color $nav-inactive-color

.navToggle
  display block
  position absolute
  right 5px
  bottom 5px
  border-radius 16.5px
  height 33px
  width 33px
  color $nav-inactive-color
  border none
  background-color transparent
  &:hover
    background-color alpha(white, 0.1)
    color white
  &:active
    background-color $brand-color
    color white

.control
  absolute bottom left right
  height 33px
  background-color transparent
  border none
  &:hover
    background-color alph(white, 0.1)
  &:active
    background-color $brand-color

.control-newRepositoryButton
  absolute top bottom left
  width 167px
  padding 0 10px
  text-align left
  border none
  color white
