.root
  absolute top bottom left
  width 200px
  border-right solid 1px $nav-border-color
  background-color $nav-background-color
  user-select none
  color $nav-text-color

.top
  height 60px
  border-bottom solid 1px $nav-border-color

.top-menu
  height 59px
  padding 0 10px
  font-size 14px
  width 100%
  text-align left
  border none
  color $nav-inactive-text-color
  background-color transparent
  transition 0.15s
  &:hover
    background-color $nav-hover-background
  &:active
    background-color $nav-active-background
    color $nav-text-color

.menu
  margin-top 15px

.menu-button
  height 44px
  padding 0 10px
  font-size 14px
  width 100%
  text-align left
  border none
  color $nav-inactive-text-color
  background-color transparent
  transition 0.15s
  &:hover
    background-color $nav-hover-background
  &:active
    background-color $nav-active-background
    color $nav-text-color

.menu-button--active
  @extend .menu-button
  background-color $nav-active-background
  color $nav-text-color
  &:hover
    background-color $nav-active-background

.repositoryList
  absolute left right bottom
  top 178px
  overflow-y auto

.repositoryList-empty
  padding 0 10px
  margin-top 15px
  line-height 24px
  color $nav-inactive-color

.navToggle
  display block
  position absolute
  right 5px
  bottom 5px
  border-radius 16.5px
  height 33px
  width 33px
  color $nav-inactive-text-color
  border none
  background-color transparent
  transition 0.15s
  &:hover
    background-color $nav-hover-background
    color $nav-inactive-text-color
  &:active
    background-color $nav-active-background
    color $nav-text-color
