articleItemHoverBgColor = darken(white, 5%)
articleItemColor = #777

.ArticleList
  absolute bottom
  top 60px
  left 200px
  width 250px
  border-top 1px solid borderColor
  border-right 1px solid borderColor
  &:focus
    border-color focusBorderColor
  overflow-y auto
  noSelect()
  &>div
    .ArticleList-item
      border solid 2px transparent
      position relative
      height 110px
      width 100%
      cursor pointer
      transition 0.1s
      background-color white
      padding 0 10px
      font-size 12px
      .ArticleList-item-top
        clearfix()
        padding-top 2px
        line-height 18px
        height 20px
        color articleItemColor
        font-size 11px
        .folderName
          overflow ellipsis
          display inline-block
          width 120px
        .updatedAt
          float right
          line-height 18px
          .unsaved-mark
            color brandColor
      .ArticleList-item-middle
        font-size 16px
        position relative
        padding-top 6px
        height 22px
        .mode
          position absolute
          left 0
          font-size 12px
          line-height 16px
        .title
          position absolute
          left 19px
          right 0
          overflow ellipsis
          small
            color #AAA
      .ArticleList-item-middle2
        padding-top 8px
        pre
          color lighten(inactiveTextColor, 10%)
          white-space pre-wrap
          overflow hidden
          height 33px
          line-height 14px
          font-size 10px
          code
            font-family Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace
      .ArticleList-item-bottom
        overflow-x auto
        white-space nowrap
        padding-top 6px
        .tags
          color articleItemColor
          height 14px
          a
            background-color brandColor
            color white
            border-radius 2px
            padding 1px 5px
            margin 2px
            font-size 10px
            opacity 0.8
            &:hover
              opacity 1
      &:hover, &.hover
        background-color articleItemHoverBgColor
        &:active, &.active
          background-color white
      &:active, &.active
        border-color brandBorderColor
    .divider
      border-bottom solid 1px borderColor
