@import '../../../node_modules/nib/lib/nib'
@import '../vars'
@import '../mixins/*'
global-reset()
@import '../shared/*'
@import './components/*'
@import './containers/*'
@import './HomeContainer'

DEFAULT_FONTS = 'Lato', helvetica, arial, sans-serif

*
  -webkit-app-region no-drag
  -webkit-user-select none

html, body
  width 100%
  height 100%
  overflow hidden

body
  font-family DEFAULT_FONTS
  color textColor
  font-size fontSize
  font-weight 400

button, input, select, textarea
  font-family DEFAULT_FONTS

div, span, a, button, input, textarea
  box-sizing border-box

a
  color brandColor
  &:hover
    color darken(brandColor, 15%)
  &:visited
    color brandColor

hr
  border-top none
  border-bottom solid 1px borderColor
  margin 15px 0

button
  font-weight 400
  cursor pointer
  &:focus, &.focus
    outline none

.noSelect
  noSelect()

.text-center
  text-align center

.form-group
  margin-bottom 15px
  &>label
    display block
    margin-bottom 5px

.block-input, .inline-input
  border solid 1px borderColor
  padding 0 10px
  font-size 1em
  height 33px
  border-radius 5px
  box-sizing border-box
  &:focus, &.focus
    border solid 1px brandBorderColor
    outline none
  &.circleInput
    border-radius 16.5px

.block-input
  display block
  width 100%

.inline-input
  display inline-block
  margin-right 5px

.relative
  position relative

textarea.block-input
  resize vertical
  height 125px
  border-radius 5px
  padding 5px 10px

#content
  fullsize()

.Main
  .appUpdateButton
    position fixed
    z-index 2000
    bottom 5px
    right 53px
    padding 10px 15px
    border none
    border-radius 5px
    background-color brandColor
    color white
    opacity 0.7
    &:hover
      opacity 1
      background-color lighten(brandColor, 10%)
  .contactButton
    position fixed
    z-index 2000
    bottom 5px
    right 5px
    padding 10px 15px
    border none
    border-radius 5px
    background-color brandColor
    color white
    opacity 0.7
    &:hover
      opacity 1
      background-color lighten(brandColor, 10%)
    .tooltip
      tooltip()
      margin-top -22px
      margin-left -107px
    &:hover .tooltip
      opacity 1
