.root
  position relative
  width 100%
  background-color $ui-backgroundColor
  height $topBar-height - 1

$control-height = 34px

.control
  position absolute
  top 8px
  left 8px
  right 8px
  height $control-height
  border $ui-border
  border-radius 20px
  overflow hidden
.control-search
  absolute top left bottom
  right 40px
  background-color white

.control-search-icon
  absolute top bottom left
  line-height 32px
  width 35px
  color $ui-inactive-text-color

.control-search-input
  display block
  absolute top bottom right
  left 30px
  input
    width 100%
    height 100%
    outline none
    border none

.control-newPostButton
  display block
  absolute top right bottom
  width 40px
  height $control-height - 2
  navButtonColor()
  border-left $ui-border
  font-size 14px
  line-height 28px
  padding 0
  &:active
    border-color $ui-button--active-backgroundColor
  &:hover .left-control-newPostButton-tooltip
    display block


.control-newPostButton-tooltip
  position fixed
  line-height 1.4
  background-color $ui-tooltip-backgroundColor
  color $ui-tooltip-text-color
  font-size 10px
  margin-left -25px
  margin-top 5px
  padding 5px
  z-index 1
  border-radius 5px
  display none
  pointer-events none
