html
  overflow: hidden
  height: 100%

body
  height: 100%
  overflow: auto
  font-family: "Lato", sans-serif
  color $textColor
  background-color: $appBackgroundColor

label
  font-family: "Lato", sans-serif
  color $textColor

h1, h2, h3, h4, h5
  color $textColorHighlight
  margin 0

textarea
  resize: vertical

hr
  border-color $baseBorderColor
