<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form ng-submit="vm.signIn()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input ng-model="vm.email" type="text" id="email" name="name" class="form-control" placeholder="E-mail">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input ng-model="vm.password" type="password" id="password" name="name" class="form-control" placeholder="Password">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary form-control">Sign In</button>
      </div>
    </form>
  </div>
</div>
