#side-view
  .nav-control-group
    margin auto 10px
  .new-block
    margin 20px auto
    button
      padding 10px inherit
    button:nth-child(1)
      width 147px
      padding-left 15px
      text-align left
    button:nth-child(2)
      width 33px
    .success-menu
      background-color darken($brand-success, 35%)
      a
        padding 5px 15px
        color $textColorSelected
        &.hover, &:hover
          background-color $brand-success
        &.focus, &:focus
          background-color darken($brand-success, 5%)

  ul.nav.nav-pills
    margin-top 10px
    li a
      padding 12px 15px
      margin-bottom 7px
      border-top-right-radius 0
      border-bottom-right-radius 0
      transition 0.2s
    li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
      background-color: $backgroundColorSelected
    }
