#side-view
  .nav-control-group
    margin 0 5px
  ul.nav.nav-pills
    margin-top 10px
    li hr
      margin: 5px 0
      border-top none
      border-bottom solid 1px $baseBorderColor

    li a
      border-top-right-radius 0
      border-bottom-right-radius 0
      transition 0.2s
    li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
      background-color: $backgroundColorSelected
    }
