.SideNavigator
  absolute bottom left
  top 65px
  width 200px
  border-right solid 1px highlightenBorderColor
  padding 10px
  box-sizing border-box
  nav
    a
      display block
      box-sizing border-box
      padding 15px 15px
      margin 10px 0
      border-radius 10px
      text-decoration none
      background-color transparent
      color textColor
      transition 0.1s
      &:hover, &.hover
        background-color hoverBackgroundColor
      &:active, &.active
        color brandColor
