.TopBar
  absolute top left right
  height 60px
  border-bottom solid 1px borderColor
  noSelect()
  .left
    float left
    .search
      position absolute
      top 13.5px
      left 15px
      height 33px
      i.fa
        position absolute
        line-height 33px
        z-index 1
        width 33px
        text-align center
      input.searchInput
        absolute top left
        background-color white
        borderInput()
        width 350px
        padding-left 30px
        border-radius 16.5px
        font-size 14px
        height 33px
        line-height 33px
        outline none
        &:focus
          border-color brandColor
  .right
    float right
    .logo
      &>img
        margin-top 7px
        margin-right 15px
      .tooltip
        tooltip()
        right 5px
      &:hover
        .tooltip
          opacity 1.0
