.root
  modal()
  width 500px
  height 270px
  overflow hidden
  position relative
  padding 0 40px

.header
  height 70px
  margin-bottom 10px
  margin-top 20px
  font-size 18px
  line-height 50px
  background-color $ui-backgroundColor
  color $ui-text-color

.close-mark
  font-size 15px

.close
  height 70px
  position absolute
  background-color transparent
  color $ui-inactive-text-color
  border none
  top 7px
  right 30px
  text-align center
  width top-bar--height
  height top-bar--height

.control-folder-label
  text-align left
  font-size 12px
  color $ui-text-color

.control-folder-input
  display block
  height 30px
  width 420px
  padding 0 5px
  margin 10px auto 15px
  border 1px solid #C9C9C9 // TODO: use variable.
  border-radius 2px
  background-color transparent
  outline none
  vertical-align middle
  font-size 14px
  &:disabled
    background-color $ui-input--disabled-backgroundColor
  &:focus, &:active
    border-color $ui-active-color

.control-confirmButton
  display block
  float right
  height 30px
  width 100px
  border none
  border-radius 2px
  padding 0 25px
  margin 20px auto
  font-size 12px
  colorPrimaryButton()

body[data-theme="dark"]
  .root
    modalDark()
    width 700px
    height 200px
    overflow hidden
    position relative
    padding 0 40px

  .header
    background-color transparent
    border-color $ui-dark-borderColor
    color $ui-dark-text-color

  .control-folder-label
    color $ui-dark-text-color

  .control-folder-input
    border 1px solid #C9C9C9 // TODO: use variable.
    color white

  .closeButton
    border-color $ui-dark-borderColor
    color $ui-dark-text-color
    colorDarkDefaultButton()

  .description
    color $ui-inactive-text-color
