<form ng-submit="vm.signIn()">
  <p ng-if="vm.authFailed" class="alert alert-danger">
    Incorrect email or password entered. Please try again.
  </p>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input ng-model="vm.email" type="text" id="email" name="name" class="form-control" placeholder="E-mail">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input ng-model="vm.password" type="password" id="password" name="name" class="form-control" placeholder="Password">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary form-control">Sign In</button>
  </div>
</form>
