bgColor = #E6E6E6
inputBgColor = white

refreshBtColor = #B3B3B3
refreshBtnActiveColor = #3A3A3A

infoBtnColor = bgColor
infoBtnBgColor = #B3B3B3
infoBtnActiveBgColor = #3A3A3A

.ArticleTopBar
  absolute top right
  left 260px
  height 60px
  background-color bgColor
  &>.left
    float left
    &>.search
      position relative
      float left
      height 33px
      margin-top 13.5px
      margin-left 15px
      width 350px
      border-radius 22px
      background-color inputBgColor
      padding 5px 15px
      transition 0.1s
      font-size 16px
      border 1px solid transparent
      border-color transparent
      &.focus
        border-color brandBorderColor
      input
        absolute top right
        left 35px
        width 300px
        outline none
        font-size 14px
        border none
        height 33px
        line-height 33px
        background-color transparent
      i.fa
        position absolute
        display block
        top 0
        left 10px
        line-height 33px
    &>.refreshBtn
      float left
      width 33px
      height 33px
      margin-top 13.5px
      margin-left 15px
      border none
      color refreshBtColor
      background transparent
      font-size 18px
      line-height 18px
      transition 0.1s
      &:hover
        color refreshBtnActiveColor
  &>.right
    float right
    &>button
      display block
      position absolute
      right 74px
      top 20px
      width 20px
      height 20px
      font-size 14px
      line-height 14px
      background-color infoBtnBgColor
      color bgColor
      border-radius 11px
      border none
      transition 0.1s
      &:nth-child(1)
        right 109px
      &:hover
        background-color infoBtnActiveBgColor

    &>.logo
      display block
      position absolute
      top 8px
      right 15px
      opacity 0.7
      &:hover
        opacity 1.0
