.root
  height 33px
  width 100%
  position relative
  cursor pointer
  navButtonColor()

.root--active
  @extend .root
  background-color $ui-button--active-backgroundColor
  color $ui-button--active-color
  &:hover
    background-color $ui-button--active-backgroundColor
    color $ui-button--active-color
  .control-button
    opacity 1
    color white
    &:hover
      background-color alpha(white, 30%)
    &:active, &:hover:active
      background-color alpha(white, 15%)

.label
  position absolute
  left 0
  top 0
  bottom 0
  right 48px
  padding-left 20px
  line-height 33px
  overflow-x hidden

.label-name
  margin-left 5px

.control
  position absolute
  top 0
  bottom 0
  right 5px
  width 24px

.control-button
  opacity 0
  navButtonColor()
  width 24px
  height 24px
  margin-top 4.5px
  border-radius 5px
  transition opacity 0.15s

.root--edit
  @extend .root

.nameInput
  absolute top bottom
  left 10px
  right 10px
  height 33px
  padding 0 10px
  border-radius 5px
  border $ui-border
  outline none
  &:focus
    border-color $ui-input--focus-borderColor
  &:disabled
    background-color $ui-input--disabled-backgroundColor

.root--folded
  @extend .root
  width 44px
  &:hover .label-name
    width 100px
  .label
    padding-left 0
    text-align center
    right 0
  .label-icon
    width 44px
  .label-name
    position fixed
    height 34px
    left 44px
    width 0
    box-sizing border-box
    margin-left 0
    overflow ellipsis
    background-color $ui-tooltip-backgroundColor
    z-index 10
    color white
    line-height 34px
    border-top-right-radius 5px
    border-bottom-right-radius 5px
    transition width 0.15s
    pointer-events none
  .control
    display none

.root--folded--active
  @extend .root--folded
  background-color $ui-button--active-backgroundColor
  color $ui-button--active-color
  &:hover
    background-color $ui-button--active-backgroundColor
    color $ui-button--active-color

.root--edit--folded
  @extend .root--edit
  .nameInput
    position fixed
    top inherit
    bottom inherit
    width 100px
