.root
  absolute top left
  bottom $statusBar-height - 1
  width $sideNav-width
  border-right $ui-border
  border-bottom $ui-border
  background-color $ui-backgroundColor
  user-select none
  color $ui-text-color

.top
  height $topBar-height
  border-bottom $ui-border

.top-menu
  navButtonColor()
  height $topBar-height - 1
  padding 0 10px
  font-size 14px
  width 100%
  text-align left

.top-menu-label
  margin-left 5px

.menu
  margin-top 15px

.menu-button
  navButtonColor()
  height 44px
  padding 0 10px
  font-size 14px
  width 100%
  text-align left

.menu-button--active
  @extend .menu-button
  background-color $ui-button--active-backgroundColor
  color $ui-button--active-color
  &:hover
    background-color $ui-button--active-backgroundColor

.menu-button-label
  margin-left 5px

.storageList
  absolute left right
  bottom 44px
  top 178px
  overflow-y auto

.storageList-empty
  padding 0 10px
  margin-top 15px
  line-height 24px
  color $ui-inactive-text-color

.navToggle
  navButtonColor()
  display block
  position absolute
  right 5px
  bottom 5px
  border-radius 16.5px
  height 34px
  width 34px
  line-height 32px
  padding 0

.root--folded
  @extend .root
  width 44px
  .storageList-empty
    white-space nowrap
    transform rotate(90deg)
  .top-menu
    width 44px - 1
    text-align center
    &:hover .top-menu-label
      transition opacity 0.15s
      opacity 1
  .top-menu-label
    position fixed
    display inline-block
    height 30px
    left 44px
    padding 0 10px
    margin-top -7px
    opacity 0
    margin-left 0
    overflow hidden
    background-color $ui-tooltip-backgroundColor
    z-index 10
    color white
    line-height 30px
    border-top-right-radius 2px
    border-bottom-right-radius 2px
    pointer-events none
    font-size 12px
  .menu-button, .menu-button--active
    text-align center
    &:hover .menu-button-label
      transition opacity 0.15s
      opacity 1
  // TODO: extract tooltip style to a mixin
  .menu-button-label
    position fixed
    display inline-block
    height 30px
    left 44px
    padding 0 10px
    margin-top -7px
    margin-left 0
    overflow ellipsis
    background-color $ui-tooltip-backgroundColor
    z-index 10
    color white
    line-height 34px
    border-top-right-radius 2px
    border-bottom-right-radius 2px
    pointer-events none
    opacity 0
    font-size 12px

body[data-theme="dark"]
  .root, .root--folded
    border-color $ui-dark-borderColor
    background-color $ui-dark-backgroundColor
    color $ui-dark-text-color

  .top
    border-color $ui-dark-borderColor

  .top-menu
    navDarkButtonColor()

  .menu-button
    navDarkButtonColor()

  .menu-button--active
    @extend .menu-button
    background-color $ui-dark-button--active-backgroundColor
    color $ui-dark-button--active-color
    &:hover
      background-color $ui-dark-button--active-backgroundColor

  .storageList-empty
    color $ui-dark-inactive-text-color

  .navToggle
    navDarkButtonColor()

