.root
  width 100%
  user-select none

.header
  position relative
  height 26px
  width 100%
  margin-bottom 5px
  transition 0.15s

.header--active
  background-color $ui-button--active-backgroundColor
  transition color background-color  0.15s

.header--active
  .header-toggleButton
    color $ui-text-color

.header--active
  .header-info
    color $ui-text-color

.header--active
  .header-addFolderButton
    color $ui-text-color

.header-toggleButton
  navButtonColor()
  position absolute
  left 0
  width 25px
  height 26px
  padding 0
  border none
  &:hover
    background-color transparent
    color $ui-text-color

.header-info
  navButtonColor()
  display block
  width 100%
  height 30px
  padding-left 25px
  padding-right 10px
  line-height 26px
  cursor pointer
  font-size 13px
  border none
  overflow ellipsis
  text-align left

.header-info-path
  font-size 10px
  margin 0 5px

.header-addFolderButton
  navButtonColor()
  position absolute
  right 0
  width 25px
  height 26px
  padding 0
  border none
  &:hover
    background-color transparent
    color $ui-text-color

.root--folded
  @extend .root
  .header
    width 100%
  .header-info
    overflow ellipsis
    padding 0 0 0 18px
    &:hover .header-info--folded-tooltip
      opacity 1
  .header-info-path
    display none
  .header-toggleButton
    width 15px
  .header-info--folded-tooltip
    tooltip()
    position fixed
    padding 0 10px
    left 44px
    z-index 10
    pointer-events none
    opacity 0
    border-top-right-radius 2px
    border-bottom-right-radius 2px
  .header-info--folded-tooltip-path
    font-size 10px
    margin 0 5px

body[data-theme="dark"]
  .header--active
    background-color $ui-dark-button--active-backgroundColor
    transition color background-color  0.15s

  .header--active
    .header-toggleButton
      color $ui-dark-text-color

  .header--active
    .header-info
      color $ui-dark-text-color
      background-color $ui-dark-button--active-backgroundColor
      &:active
        color $ui-dark-text-color
        background-color $ui-dark-button--active-backgroundColor  

  .header--active
    .header-addFolderButton
      color $ui-dark-text-color

  .header-toggleButton
    &:hover
      color $ui-dark-text-color

  .header-info
    &:hover
      color $ui-dark-text-color
      background-color alpha($ui-dark-button--active-backgroundColor, 20%)
    &:active, &:active:hover
      color $ui-dark-text-color
      background-color $ui-dark-button--active-backgroundColor

  .header-addFolderButton
    &:hover
      color $ui-dark-text-color