.root
  width 100%
  user-select none

.header
  position relative
  height 26px
  width 100%
  margin-bottom 5px
  transition 0.15s
  &:hover
    color $ui-text-color
    background-color alpha($ui-button--hover-backgroundColor, 20%)
  &:active
    .header-info
    .header-toggleButton
    .header-addFolderButton
      color $ui-text-color
      background-color $ui-button--hover-backgroundColor

.header--active
  @extend .header
  .header-info
    color $ui-text-color
    background-color $ui-button--hover-backgroundColor
  .header-toggleButton
  .header-addFolderButton
    color $ui-text-color
    &:active
      .header-toggleButton
      .header-addFolderButton
        &:active
          color $ui-text-color

.header-toggleButton
  position absolute
  left 0
  width 25px
  height 26px
  padding 0
  border none
  color $ui-inactive-text-color
  background-color transparent

.header-info
  display block
  width 100%
  height 30px
  padding-left 25px
  padding-right 10px
  line-height 26px
  cursor pointer
  font-size 13px
  border none
  overflow ellipsis
  text-align left
  background-color transparent
  color $ui-inactive-text-color
  &:hover
    background-color alpha($ui-button--hover-backgroundColor, 20%)
  &:active
    .header-toggleButton
    .header-addFolderButton
      color $ui-text-color

.header-info-path
  font-size 10px
  margin 0 5px

.header-addFolderButton
  position absolute
  right 0
  width 25px
  height 26px
  padding 0
  border none
  color $ui-inactive-text-color
  background-color transparent

.root--folded
  @extend .root
  .header
    width 100%
  .header-info
    overflow ellipsis
    padding 0 0 0 18px
    &:hover .header-info--folded-tooltip
      opacity 1
  .header-info-path
    display none
  .header-toggleButton
    width 15px
  .header-info--folded-tooltip
    tooltip()
    position fixed
    padding 0 10px
    left 44px
    z-index 10
    pointer-events none
    opacity 0
    border-top-right-radius 2px
    border-bottom-right-radius 2px
  .header-info--folded-tooltip-path
    font-size 10px
    margin 0 5px

body[data-theme="dark"]
.header
  &:hover
    color $ui-dark-text-color
    background-color alpha($ui-dark-button--active-backgroundColor, 20%)
  &:active
    .header-info
    .header-toggleButton
    .header-addFolderButton
      color $ui-dark-text-color
      background-color $ui-dark-button--active-backgroundColor

.header-info
    &:hover
      background-color alpha($ui-dark-button--active-backgroundColor, 20%)
    &:active
      .header-toggleButton
      .header-addFolderButton
        color $ui-dark-text-color

.header--active
  @extend .header
  .header-info
    color $ui-dark-text-color
    background-color $ui-dark-button--active-backgroundColor
  .header-toggleButton
  .header-addFolderButton
    color $ui-dark-text-color
    &:active
      .header-toggleButton
      .header-addFolderButton
        &:active
          color $ui-dark-text-color
