@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$side-view-bg: $navbar-inverse-bg;
$side-view-color: $navbar-inverse-color;
$side-view-link-color: $navbar-inverse-link-color;
$side-view-link-active-color: $navbar-inverse-link-active-color;
$side-view-link-hover-color: $navbar-inverse-link-hover-color;
$side-view-link-active-bg: $navbar-inverse-link-active-bg;
$side-view-link-hover-bg: $navbar-inverse-link-hover-bg;

$border-color: #ddd;
