$fa-font-path: "./resources/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "bootstrap";
@import "ui-select";

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  font-family: "Lato", sans-serif;
}
label{
  font-family: "Lato", sans-serif;
}
textarea{
  resize: vertical;
}

#side-view{
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  color: $navbar-inverse-color;
  background-color: $side-view-bg;
  box-sizing: border-box;
  padding: 10px 0 10px 10px;
  .nav.nav-pills>li>a{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.alert{
  margin: 5px 0;
}

#main-view{
  position:absolute;
  top: 0;
  bottom: 0;
  left: 200px;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.inline-form-control{
  @extend .form-control;
  width: auto;
  display: inline-block;
}
