<div class="new-snippet-modal">
  <div class="modal-header">
    <h4>Delete Recipe</h4>
  </div>

  <div class="modal-body">
    <p>
      Are you sure to delete it?
    </p>
    <blockquote>
      Snippets of this recipe will not be removed.
    </blockquote>
  </div>

  <div class="modal-footer">
    <button ng-click="vm.submit()" type="button" name="button" class="btn btn-danger">Delete It</button>
    <button ng-click="vm.cancel()" type="button" name="button" class="btn btn-default">Cancel</button>
  </div>
</div>
