<div class="select-snippet-modal">
  <div class="modal-header">
    Select a snippet
  </div>
  <div class="modal-body">
    <ul class="snippet-list">
      <li ng-repeat="snippet in vm.snippets" ng-click="vm.select(snippet)">
        <p><small>callsign</small> <span ng-bind="snippet.callSign"></span> <small ng-bind="snippet.updatedAt|fromNow" class="call-sign"></small></p>
        <p ng-bind="snippet.description"></p>

        <div ui-ace="{
          showGutter: true,
          useWrapMode : true,
          mode:snippet.mode.toLowerCase(),
          theme:'solarized_dark'
        }"
        readonly
        ng-model="snippet.content"></div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button ng-click="vm.cancel()" class="btn btn-default">Cancel</button>
  </div>
</div>
