<div class="new-snippet-modal">
  <div class="modal-header">
    <h4>New Snippet</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <textarea ng-model="vm.description" name="description" class="form-control" placeholder="Description..."></textarea>
    </div>
    <div class="form-group">
        <input ng-model="vm.callSign" type="text" name="callSign" class="inline-form-control" placeholder="Call sign">

        <ui-select ng-model="vm.mode" style="display: inline-block;" on-select="vm.log(vm.mode.name.toLowerCase())" theme="bootstrap">
          <ui-select-match placeholder="Select Type">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="mode in vm.aceModes | filter: $select.search">
            <div ng-bind-html="mode | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group">
      <div
        ui-ace="{
          mode: vm.mode.toLowerCase(),
          theme:'solarized_dark',
          useWrapMode : true

        }"
        ng-model="vm.content"
      ></div>
    </div>

    <div class="form-group">
      <ui-select multiple tagging="vm.transform" tagging-tokens="SPACE|,|/" ng-model="vm.tags" theme="bootstrap">
        <ui-select-match placeholder="Write Tags">{{$item.name}}</ui-select-match>
        <ui-select-choices repeat="tag in vm.tagCandidates" refresh="vm.refreshTagCandidates($select.search)"
         refresh-delay="200">
          <div><span ng-bind-html="tag.name | highlight: $select.search"></span><span ng-if="tag.isTag">(new)</span></div>
        </ui-select-choices>
      </ui-select>
    </div>

  </div>

  <div class="modal-footer">
    <button ng-click="vm.submit()" type="button" name="button" class="btn btn-primary">Submit</button>
    <button ng-click="vm.cancel()" type="button" name="button" class="btn btn-default">Cancel</button>
  </div>
</div>
