borderColor = #E8E8E8
highlightenBorderColor = darken(borderColor, 20%)
invBorderColor = #404849
brandBorderColor = #3FB399

buttonBorderColor = #4C4C4C

lightButtonColor = #898989



hoverBackgroundColor= transparentify(#444, 3%)


// v0.2.0
textColor = #4D4D4D
backgroundColor= white

brandColor = #2BAC8F

planetNavBgColor = #ECECEC
planetAnchorColor = #979797
planetAnchorBgColor = #BEBEBE
planetAnchorActiveColor = textColor
planetAnchorActiveBgColor = white
