borderColor = #E8E8E8
highlightenBorderColor = darken(borderColor, 20%)
invBorderColor = #404849
brandBorderColor = #3FB399

buttonBorderColor = #4C4C4C

lightButtonColor = #898989

brandColor = #2BAC8F

textColor = #434343

backgroundColor= white
hoverBackgroundColor= transparentify(#444, 7%)
